body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(62, 4, 14, 0.854);
}

.header {
    display: flex;
    color: navy;
    justify-content: center;
    font-size: 64px;
    text-shadow: 0 0 3px #f2ff00, 0 0 5px #0000FF;
}

.main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.player {
    display: flex;
    background-color: red;
    flex-grow: 1;
}

.com {
    display: flex;
    background-color: yellow;
    flex-grow: 1;
}